<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>helloSAML</title>
  </head>
  <body>
    <div role="main">
      <header>
        <h1>helloSAML: a header</h1>
      </header>

      <h4>Begin Content</h4>
      <section role="content" layout:fragment="content">
        <!-- Content -->
      </section>
      <h4>End Content</h4>

      <footer>
        <p>helloSAML: a footer</p>
      </footer>
    </div>
  </body>
</html>
